<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){

      // hide #back-top first
      $("#back-top").hide();
        
        // fade in #back-top
        $(function () {
           $(window).scroll(function () {
                 if ($(this).scrollTop() > 100) {
                     $('#back-top').fadeIn();
                 } else {
                     $('#back-top').fadeOut();
                 }
           });

          // scroll body to 0px on click
          $('#back-top a').click(function () {
              $('body,html').animate({
                  scrollTop: 0
              }, 800);
              return false;
         });
     });

});
</script>

<style type="text/css">
#back-top {
      position: fixed;
      bottom: 50px;
      right: 100px;
}

#back-top a {
      width: 80px;
      display: block;
      text-align: center;
      font: 11px/100% Arial, Helvetica, sans-serif;
      text-transform: uppercase;
      text-decoration: none;
      color: #bbb;

      /* transition */
      -webkit-transition: 1s;
      -moz-transition: 1s;
      transition: 1s;
}
#back-top a:hover {
      color: #000;
}

/* arrow icon (span tag) */
#back-top span {
      width: 80px;
      height: 80px;
      display: block;
      margin-bottom: 7px;
      background: #ddd url(/images/top.png) no-repeat center center;

      /* rounded corners */
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;

      /* transition */
      -webkit-transition: 1s;
      -moz-transition: 1s;
      transition: 1s;
}
#back-top a:hover span {
      background-color: #888;
}
</style>

<p id="back-top">
  <a href="#top"><span></span></a>
</p>

<p>
  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
</p>
