// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
#markdown-toc:before {
    content: "本页目录";
    font-weitht: bold;
}

.blog-index #markdown-toc {
    display: none;
}
